In [4]:
import pandas as pd
os.chdir('/Users/keylaperalta/Downloads/EV Project/EV_Data/data')
# Load the 2024â€“2025 stock data
tesla_df = pd.read_csv('Tesla_stock_2024_2025.csv')
byd_df = pd.read_csv('BYD_stock_2024_2025.csv')
wuling_df = pd.read_csv('Wuling_stock_2024_2025.csv')

In [5]:
print("Tesla:")
print(tesla_df.head())

print("\nBYD:")
print(byd_df.head())

print("\nWuling:")
print(wuling_df.head())

Tesla:
        Price               Close                High                 Low  \
0      Ticker                TSLA                TSLA                TSLA
1        Date                 NaN                 NaN                 NaN
2  2024-01-02   248.4199981689453              251.25  244.41000366210938
3  2024-01-03   238.4499969482422  245.67999267578125  236.32000732421875
4  2024-01-04  237.92999267578125   242.6999969482422  237.72999572753906

                 Open     Volume
0                TSLA       TSLA
1                 NaN        NaN
2   250.0800018310547  104654200
3  244.97999572753906  121082600
4              239.25  102629300

BYD:
        Price               Close                High                Low  \
0      Ticker               BYDDY               BYDDY              BYDDY
1        Date                 NaN                 NaN                NaN
2  2024-01-02    52.9132080078125  53.977382288550764  52.73584500122184
3  2024-01-03  53.662071228027344   53.73104531309428  53.01174145539219
4  2024-01-04   52.82452392578125  53.671924080612264  50.35129754283906

                 Open  Volume
0               BYDDY   BYDDY
1                 NaN     NaN
2   53.68177853050156  882200
3   53.13983779571895  788300
4  53.671924080612264  681100

Wuling:
        Price               Close                High                 Low  \
0      Ticker           600104.SS           600104.SS           600104.SS
1        Date                 NaN                 NaN                 NaN
2  2024-01-02  13.050661087036133  13.371578906600321   13.04093607979413
3  2024-01-03  13.128458976745605  13.157633070347503  13.002036667900432
4  2024-01-04  13.050661087036133  13.186808406140958  12.943688789657315

                 Open     Volume
0           600104.SS  600104.SS
1                 NaN        NaN
2  13.186808406140958   18821008
3   13.03121076150233   12174675
4  13.138184297358682   16882051

In [8]:
import pandas as pd

# Helper function to clean each stock dataframe
def clean_stock_data(filepath, company_name):
    df = pd.read_csv(filepath, skiprows=2)  # Skip the header rows
    df = df[['Date', 'Unnamed: 1']]         # Keep only Date and Close
    df.rename(columns={'Unnamed: 1': f'{company_name}_Close'}, inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    return df

# Clean all three
tesla_df = clean_stock_data('Tesla_stock_2024_2025.csv', 'Tesla')
byd_df = clean_stock_data('BYD_stock_2024_2025.csv', 'BYD')
wuling_df = clean_stock_data('Wuling_stock_2024_2025.csv', 'Wuling')

# Merge
combined_stock = tesla_df.merge(byd_df, on='Date', how='outer')
combined_stock = combined_stock.merge(wuling_df, on='Date', how='outer')
combined_stock = combined_stock.sort_values('Date').reset_index(drop=True)

# Preview
combined_stock.head()

        Date  Tesla_Close  BYD_Close  Wuling_Close
0 2024-01-02   248.419998  52.913208     13.050661
1 2024-01-03   238.449997  53.662071     13.128459
2 2024-01-04   237.929993  52.824524     13.050661
3 2024-01-05   237.490005  52.588039     12.972862
4 2024-01-08   240.449997  52.420532     12.758917

In [9]:
tesla_df = clean_stock_data('Tesla_stock_2024_2025.csv', 'Tesla')
byd_df = clean_stock_data('BYD_stock_2024_2025.csv', 'BYD')
wuling_df = clean_stock_data('Wuling_stock_2024_2025.csv', 'Wuling')

In [10]:
combined_stock.to_csv('combined_stock_2024_2025.csv', index=False)