In [9]:
import pandas as pd

clean_ev_sales = pd.read_csv('clean_ev_sales.csv')
clean_ev_sales.head()

                               ev_sales_cleaned
Date       BYD    Tesla NIO               Notes
2024-01-01 201493 71447 10055               NaN
2024-02-01 122311 60365 8132   Chinese New Year
2024-03-01 302459 89064 11866               NaN
2024-04-01 313245 62167 15620               NaN

In [12]:
clean_ev_sales.isnull().sum()

ev_sales_cleaned    15
dtype: int64

In [13]:
clean_ev_sales.dtypes

ev_sales_cleaned    object
dtype: object

In [18]:
clean_ev_sales.duplicated().sum()

np.int64(15)

In [19]:
len(clean_ev_sales)

18

In [20]:
print(clean_ev_sales.columns.tolist())

['ev_sales_cleaned']

In [23]:
clean_ev_sales = pd.read_csv('clean_ev_sales.csv', skiprows=1)
print(clean_ev_sales.head())
print(clean_ev_sales.columns.tolist())

         Date     BYD  Tesla    NIO             Notes
0  2024-01-01  201493  71447  10055               NaN
1  2024-02-01  122311  60365   8132  Chinese New Year
2  2024-03-01  302459  89064  11866               NaN
3  2024-04-01  313245  62167  15620               NaN
4  2024-05-01  331817  61662  20544               NaN
['Date', 'BYD', 'Tesla', 'NIO', 'Notes']

In [24]:
clean_ev_sales['Date'] = pd.to_datetime(clean_ev_sales['Date'])